.home {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    text-align: center;  
    
    
    .search {
        margin: 50px auto 20px;
        width: max-content;
        
        * {
            position: relative;
            z-index: 2;
        }
        
        h2 {
            width: 600px;
            margin: auto;
        }


        input[type="text"] {
            margin-top: 40px;
            width: 300px;
            background: none;
            border: none;
            border-bottom: 1px solid white;
            padding: 10px;
            text-align: center;
            font-size: 16px;
            font-family: 'Questrial';
            text-transform: uppercase;
            color: white;

            &:focus {
                outline: 1px solid white;
                &::placeholder {
                    color: transparent;
                }
            }

            &:focus-visible {
                outline: none;
            }

            &:active {
                outline: none;
            }
            
            &::placeholder {
                color: white;
            }

        }
    }
}

@media (max-width: 600px) {

    .home {

        .search {
            width: auto;
            padding: 0 20px;

            h2 {
                width: auto;
            }

            input[type="text"] {
                width: 100%;
            }
        }
    }
}