@import 'assets';
@import 'background';
@import 'home';
@import 'city';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
}

h1 {
    font-family: 'Chromate';
    font-size: 144px;
}

h2 {
    font-family: 'Questrial';
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

p {
    font-family: 'Questrial';
    font-size: 16px;
    text-transform: uppercase;
}

@media (max-width: 1024px) {
    h1 {
        font-size: 70px;
        line-height: 1;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 16px;
    }
}

